body {
  margin: 0;
}
p {
  color: red;
}
#botoes,
#conversor,
p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#conversor {
  width: 100vw;
  height: 50vh;
}
